In [10]:
import SimpleITK as sitk
import os
import glob
import pandas as pd

In [14]:
path_img = '/Users/sonerkoc/Downloads/saarbrucken.nrrd'
path_label = '/Users/sonerkoc/Downloads/saarbrucken.csv'

In [7]:
# Load nrrd file
img = sitk.ReadImage(path_img)
# Convert to img_array
img_array = sitk.GetArrayFromImage(img)

In [25]:
img_array.shape

(512, 512, 554)

In [21]:
label = pd.read_csv(path_label, header=None)

In [22]:
label

       0
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
..   ...
549  0.0
550  0.0
551  0.0
552  0.0
553  0.0

[554 rows x 1 columns]

In [24]:
label[0].value_counts()

0.0    469
1.0     85
Name: 0, dtype: int64

In [26]:
print(f"label 0: {label[0].value_counts()}")

label 0: 0.0    469
1.0     85
Name: 0, dtype: int64

In [27]:
len([])

0

In [28]:
reader = sitk.ImageFileReader()

In [29]:
reader.SetFileName(path_img)
reader.LoadPrivateTagsOn()
reader.ReadImageInformation()

In [30]:
reader.GetSize()

(554, 512, 512)

In [40]:
img_array[:,:,1:30].shape

(512, 512, 29)

In [42]:
import tensorflow as tf

In [43]:
tf.keras.utils.to_categorical([0,1,0,1])

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]], dtype=float32)